# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE settings
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.db

# Output of coverage tool
.coverage

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Local development settings
.vscode/

# FS files
src/database/healthcare_management.fs
src/database/healthcare_management.fs.index
src/database/healthcare_management.fs.lock
src/database/healthcare_management.fs.tmp

# Ignore ds_store
.DS_Store